/**
 * NYC Tech & Beer - Stylesheet
 */

body {
    background-color: #000D40;
    padding-bottom: 15px;
}

/* Banner section */

.banner-logo-container {
    position: relative;
    max-width: 100%;
    height: 40%;
}

.banner-logo {
    max-height: 100%;
    max-width: 100%;
}

/* Links section */

.links-container {
    position: relative;
    align-items: center;
    align-self: center;
    display: inline-block;
    width: 100%;
    padding-left: 13%;
}

.social-button {
    background-color: orangered;

    display: inline;

    color: white;
    font-size: 40px;
    font-family: 'Roboto', 'Arial', sans-serif;

    height: 100px;
    width: 75%;
    min-width: 275px;

    border-width: 0px;
    border-radius: 5px;
    box-shadow: 3px 3px #444;
    outline-style: none;
    
    margin: 10px 0px;
}

.social-button:active {
    box-shadow: 2px 2px #444 inset;
}

.social-button__link {
    text-decoration: none;
}

.meetup-theme {
    background-color: #F7405F;
    color: white;
}

.fb-theme {
    background-color: #4267B2;
    color: white;
}

/* Description section */

.description-container {
    padding: 30px;
}

.description {
    color: white;
    font-family: 'EB Garamond', 'Arial', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1.3;
    margin: 20px 0px;
}

.description__tagline {
    font-size: 40px;
}