/**
 * NYC Tech & Beer - Stylesheet
 */

body {
    background-color: #000D40;
    padding-bottom: 15px;
}

p, h1,h2,h3,h4,h5,h6, label {
    font-family: 'EB Garamond', 'Times New Roman', serif;
    color: white;
}

p {
    font-size: 30px;
}

label {
    font-size: 20px;
}

section {
    margin: 15px auto;

    width: 100%;
    max-width: 900px;
    text-align: center;
}

input, button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    height: 25px;
    font-size: 15px;
    padding: 3px;
    border-radius: 4px;
}

button, .button {
    height: 35px;
    background-color: #447;
    color: white;
}


/* Banner section */
.banner-logo {
    max-height: 100%;
    width: 100%;
    margin: auto 5px auto 0px;
}

/* Divider Logo section */
.divider-logo {
    width: 50%;
    max-width: 150px;
    max-height: 150px;
}

/* Title section */
.title-container h1 {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    font-weight: 400;
    margin: 15px auto;
}

/* Mailchimp Form */
.mce-input {
    width: 90%;
    max-width: 300px;

    margin: 3px 5px;
}

.mce-input-name {
    max-width: 140px;
    margin: 3px 3px;
}

#mc-embedded-subscribe {
    width: 30%;
    max-width: 100px;
    margin-top: 10px;
}
#mc-embedded-subscribe:hover {
    background-color: #558;
}
#mc-embedded-subscribe:active {
    background-color: #336;
}


/* Links section */
.social-button {
    background-color: orangered;

    display: inline-block;

    color: white;
    font-size: 40px;
    font-family: 'Roboto', 'Arial', sans-serif;

    height: 100px;
    width: 75%;
    max-width: 400px;
    min-width: 275px;

    border-width: 0px;
    border-radius: 5px;
    box-shadow: 3px 3px #333;
    outline-style: none;
    
    margin: 10px 10px;
}

.social-button:active {
    box-shadow: 3px 3px #333 inset;
}

.social-button__link {
    text-decoration: none;
}

.meetup-theme {
    background-color: #ff2a4e;
    color: white;
}
.meetup-theme:hover {
    background-color: #ff4262;
}
.meetup-theme:active {
    background-color: #b81e38;
}

.instagram-theme {
    background: radial-gradient(
                    circle at 30% 107%,
                    #fdf497 0%,
                    #fdf497 5%,
                    #fd5949 45%,
                    #d6249f 60%,
                    #285AEB 90%);
    color: white;
}
.instagram-theme:hover {
    background: radial-gradient(
                    circle at 30% 107%,
                    #fff9bd 0%,
                    #fff9bd 5%,
                    #ff6f62 45%,
                    #d33ba3 60%,
                    #4971e7 90%);
}
.instagram-theme:active {
    background: radial-gradient(
                    circle at 30% 107%,
                    #b6b06c 0%,
                    #b6b06c 5%,
                    #c04135 45%,
                    #9b1a72 60%,
                    #1f44b3 90%);
}

/* .fb-theme {
    background-color: #4267B2;
    color: white;
}
.fb-theme:hover {
    background-color: #4267B2aa;
} */


/* Description section */
.description {
    text-align: center;
    line-height: 1.3;
    margin: 20px 0px;
}

.description__tagline {
    font-size: 40px;
}


/* Footer */
footer {
    text-align: center;
    margin: 30px auto 10px auto;
}

.footer-icon {
    color: white;
    font-size: 25px;
    margin: auto 5px;
    border-radius: 5px;
}

.footer-icon__link {
    text-decoration: none;
}

.meetup-theme-icon:hover {
    color: #ff2a4e;
}

.instagram-theme-icon:hover {
    background: radial-gradient(
                    circle at 30% 107%,
                    #fdf497 0%,
                    #fdf497 5%,
                    #fd5949 45%,
                    #d6249f 60%,
                    #285AEB 90%);
}

.fb-theme-icon:hover {
    color: #4267B2;
}